.goto {
    display: flex;
    align-items: center;
    margin: 0 auto 12px auto;
    text-align: center;
    align-content: center;
  }
footer {
  text-align: center;
}
button{
    background-color: rgb(172, 30, 85);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    align-content: center;
}